/* Home and Body CSS throughout Website */

body {
    color: gray;
    background: url(erskinegrowth.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: '';
    width: 100%;
    height: 100vh;
}

/* Background Color of the Side Navigation Bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #362F1C;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*-------------------------------------------*/

/* Controls Information Concerning Text, and the Various Characteristics within the information inside of
the sidenav */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 2.5s;
}

/*-------------------------------------------*/

/* Font Color of the 'sidebar a' text on hover */

.sidenav a:hover {
    color: gold;
}

/*--------------------------------------------- */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Section CSS throughout Website (ScrollSpy Enabled) */

#section-upcoming, #section-biography, #section-contactme{
    width: 100%;
    height: 100vh;
}

#section-upcoming{
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.2;
}

#body {
    height: 100%;
    width: 100%;
}

#center {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #716752;
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.footer {
    position: absolute;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    background-color: #BD7F00;
    color: white;
    text-align: center;
}

#trademark {
    margin: auto;
}

#socialbox {
    height: auto;
    width: 100%;
}

.flickity-prev-next-button:disabled {
    display: none;
}

.blur {
    width: 805px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 10px #716752;
    border-radius: 5px;
}

navbar, .footer {
    width: 100%;
}

.carousel {
    background: transparent;
    width: 805px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    border: 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
}

.carousel-cell {
    width: 800px;
    height: 400px;
    border: 2px solid gold;
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent;
}

#swipe {
    margin-bottom: 100%;
    text-align: center;
    color: #fafafa;
    background-color: #BD7F00;
    height: 46px;
}